@model IEnumerable<Item>

@foreach (var item in Model)
{
    <div class="container">
        <div class="row">
            <div class="col-sm">
                @item.Nome
            </div>
            <div class="col-sm">
                @item.Categoria.Nome
            </div>

            <div>
                <a asp-controller="Item" asp-action="FazerEmprestimo" asp-route-Id="@item.Id">Fazer Emprestimo</a>
            </div>
        </div>
    </div>
}