@model CadastrarViewModel

<form method="post" asp-controller="Item" asp-action="Cadastrar">

    <div>
        <label asp-for="Item.Nome">Digite seu nome</label>
        <input asp-for="Item.Nome" />
        <span asp-validation-for="Item.Nome"></span>
    </div>

    <select asp-for="Item.CategoriaId" asp-items="ViewBag.ListaCategorias"></select>

    <div>
        <label asp-for="Item.Disp_Emprestimo">Disponível para emprestimo</label>
        <input type="checkbox" asp-for="Item.Disp_Emprestimo">
        <span asp-validation-for="Item.Disp_Emprestimo"></span>
    </div>

    <button type="submit">Cadastrar</button>


</form>
