@model Item

<form asp-controller="Item" asp-action="Save">

    <div>
        <label asp-for="Nome">Digite seu nome</label>
        <input asp-for="Nome" />
        <span asp-validation-for="Nome"></span>
    </div>

    <div>
        <label asp-for="Disp_Emprestimo">Disponível para emprestimo</label>
        <input type="checkbox" asp-for="Disp_Emprestimo">
        <span asp-validation-for="Disp_Emprestimo"></span>
    </div>

    <button type="submit">Cadastrar</button>

    public int UsuarioId { get; set; }
    public string Nome_Locador { get; set; }
    public string Email_Locador { get; set; }
    [Required(ErrorMessage = "O nome do Item deve ser preenchido!")]
    public string Nome { get; set; }
    public bool Disp_Emprestimo { get; set; }


</form>
